<h2>Timetable</h2>

<%= form_tag({controller => :timetables, :action => :show}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label for='status'><%= l(:field_status) %>:</label>
<%= select_tag 'status', users_status_options_for_select(@status), :class => "small", :onchange => "this.form.submit(); return false;"  %>

<% if @groups.present? %>
<label for='group_id'><%= l(:label_group) %>:</label>
<%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %>
<% end %>

<label for='name'><%= l(:label_user) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {controller => :timetables, :action => :show}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<% usernames = @users.collect{|u| u.firstname + " " + u.lastname } %>
<%= usernames.join(";") %>
<%= issues_for_user(@users[0])[1].start_date %>

<br>
<div class="autoscroll">
<table class="list">
  <tbody>
<% for user in @users -%>
  <tr class="<%= user.css_classes %> <%= cycle("odd", "even") %>">
  <td class="username"><%= avatar(user, :size => "14") %><%= link_to h(user.login), edit_user_path(user) %></td>
  <td class="firstname"><%= h(user.firstname) %></td>
  <td class="lastname"><%= h(user.lastname) %></td>
<table class="list">
  <tbody>
  <% for i in issues_for_user(user.id) -%>
    <tr> <%= i.id %> <%=i.start_date %>; </tr>
  <% end -%>
  </tbody>
  </tr>
<% end -%>
  </tbody>
</table>

<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:500px;padding:5px;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>


<% html_title("Timetable") -%>

<script type="text/javascript" charset="utf-8" >
function init(){
		var sections=[
                        <% usernames.each_with_index do |un,i|  %>
                           <%= raw "{key:#{i}, label:\'#{un}\'},\n" %>
                        <% end %>
		];
		
		scheduler.createTimelineView({
			name:	"timeline",
			x_unit:	"day",
			x_date:	"%M %d",
			x_step:	1,
			x_size: 30,
                        dy: 25,
			y_unit:	sections,
			y_property:	"section_id",
			render:"bar",
                        section_autoheight:"false",
		});
		
scheduler.init('scheduler_here', new Date(),"timeline");
		scheduler.parse([
<% @users.each_with_index do |user, ui| -%>
  <% for i in issues_for_user(user.id) -%>
    <%= raw "{ start_date: \"#{i.start_date} 09:00\", end_date: \"#{i.due_date} 17:00\", text:\"#{i.subject}\", section_id:#{ui}},\n" =%>
  <% end %>
<% end %>
		],"json");
}
</script>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_timeline', :plugin => 'redmine_timetables' %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
<% end %>

