<h2>Timetable</h2>

<%= form_tag({controller => :timetables, :action => :show}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label for='status'><%= l(:field_status) %>:</label>
<%= select_tag 'status', users_status_options_for_select(@status), :class => "small", :onchange => "this.form.submit(); return false;"  %>

<% if @groups.present? %>
<label for='group_id'><%= l(:label_group) %>:</label>
<%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %>
<% end %>

<label for='name'><%= l(:label_user) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {controller => :timetables, :action => :show}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<div class="autoscroll">
<table class="list">
  <tbody>
<% for user in @users -%>
  <tr class="<%= user.css_classes %> <%= cycle("odd", "even") %>">
  <td class="username"><%= avatar(user, :size => "14") %><%= link_to h(user.login), edit_user_path(user) %></td>
  <td class="firstname"><%= h(user.firstname) %></td>
  <td class="lastname"><%= h(user.lastname) %></td>
<table class="list">
  <tbody>
  <% for i in issues_for_user(user.id) -%>
    <tr> <%= i.id %> </tr>
  <% end -%>
  </tbody>
  </tr>
<% end -%>
  </tbody>
</table>
</div>

<% html_title("Timetable") -%>
