<h2>Timetable</h2>

<% if !@project %>
<%= form_tag({controller => :timetables, :action => :show}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>

<% if @groups.present? %>
<label for='group_id'><%= l(:label_group) %>:</label>
<%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %>
<% end %>

<label for='name'><%= l(:label_user) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {controller => :timetables, :action => :show}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;
<% end %>

<br>
<div class="autoscroll">

<div id="scheduler_here" class="dhx_cal_container" style='width:90%;height:800px;padding:10px;margin:0px'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>


<% html_title("Timetable") -%>

<script type="text/javascript" charset="utf-8" >
function init(){
		var sections=[
                        <% ttusers.each do |u|  %>
                           <%= raw "{key:#{u.id}, label:\'" %><%= raw avatar(u, :size => "14") %><%= raw link_to h(u.login), user_path(u)%><%= raw "\'},\n" %>
                        <% end %>
		];
		
scheduler.config.xml_date="%Y-%m-%d";
scheduler.config.readonly = true;
scheduler.attachEvent("onClick", function (id, e) {
         var obj = scheduler.getActionData(e);
         var str = e.explicitOriginalTarget.textContent;
         var re = /^#([0-9]+):/;
         str.match(re);
         location.href="/issues/"+str.match(re).pop();
});
scheduler.createTimelineView({
         name:	"timeline",
         x_unit:	"day",
         x_date:	"%d",
         x_step:	1,
         x_size: 30,
         dy: 25,
         y_unit:	sections,
         y_property:	"section_id",
         render:"bar",
         section_autoheight:"false",
         second_scale: {x_unit: "month", x_date: "%M"}
});
		
scheduler.init('scheduler_here', new Date(),"timeline");
		scheduler.parse([
<% ttusers.each do |user| -%>
  <% for i in issues_for_user(user.id, @project) -%>
    <% if User.current.allowed_to?(:view_issues, i.project) && i.start_date && i.due_date %> 
<%= raw "{ start_date: \"#{i.start_date}\", end_date: \"#{i.due_date}\", text:\"##{i.id}: "%><%="#{i.subject} (#{i.project.name})"%><%= raw "\", section_id:#{user.id}},\n" =%>
	  <% end %>
  <% end %>
<% end %>
		],"json");
}
</script>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_timeline', :plugin => 'redmine_timetables' %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
    <%= stylesheet_link_tag 'dhtmlxschedulerfix', :plugin => 'redmine_timetables' %>
<% end %>

