<h2>Timetable</h2>

<%= form_tag({controller => :timetables, :action => :show}, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label for='status'><%= l(:field_status) %>:</label>
<%= select_tag 'status', users_status_options_for_select(@status), :class => "small", :onchange => "this.form.submit(); return false;"  %>

<% if @groups.present? %>
<label for='group_id'><%= l(:label_group) %>:</label>
<%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %>
<% end %>

<label for='name'><%= l(:label_user) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), {controller => :timetables, :action => :show}, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

<br>
<div class="autoscroll">

<div id="scheduler_here" class="dhx_cal_container" style='width:90%;height:500px;padding:10px;margin:0px'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>


<% html_title("Timetable") -%>

<script type="text/javascript" charset="utf-8" >
function init(){
		var sections=[
                        <% @users.each do |u|  %>
                           <%= raw "{key:#{u.id}, label:\'" %><%= raw avatar(u, :size => "14") %><%= raw link_to h(u.login), user_path(u)%><%= raw "\'},\n" %>
                        <% end %>
		];
		
scheduler.config.xml_date="%Y-%m-%d";
		scheduler.createTimelineView({
			name:	"timeline",
			x_unit:	"day",
			x_date:	"%M %d",
			x_step:	1,
			x_size: 30,
                        dy: 25,
			y_unit:	sections,
			y_property:	"section_id",
			render:"bar",
                        section_autoheight:"false",
		});
		
scheduler.init('scheduler_here', new Date(),"timeline");
		scheduler.parse([
<% @users.each do |user| -%>
  <% for i in issues_for_user(user.id) -%>
    <% if i.start_date && i.due_date %> 
    <%= raw "{ start_date: \"#{i.start_date}\", end_date: \"#{i.due_date}\", text:\"#{i.subject}\", section_id:#{user.id}},\n" =%>
	  <% end %>
  <% end %>
<% end %>
		],"json");
//alert(scheduler.toJSON);
}
</script>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_timeline', :plugin => 'redmine_timetables' %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', :plugin => 'redmine_timetables' %>
    <%= stylesheet_link_tag 'dhtmlxschedulerfix', :plugin => 'redmine_timetables' %>
<% end %>

